body {
  font-family: Arial, sans-serif;
  background: #f0f0f0;
  padding-top: 20px;
}

.container {
  max-width: 400px;
  margin: auto;
  background: rgb(89, 120, 207);
  color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px #aaa;
}

input {
  width: 95%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
}

button {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  background: #0088ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: #0066cc;
}

#resultado {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: black;
  padding: 10px;
  border-radius: 5px;
}
.camposForm {
  margin-top: 3%;
}
